{% extends 'base.html' %}
{% load static %}

{% block title %} Form- Responsible Irrigation {% endblock %}

{% block content %}

<section class='letsStart bd-grid'>

    <div class='letsStart-container'>

        <h2 class="section-title form-title"> Let's Enter Some Data! </h2>

        <p>

        <form method="POST" id='main-form'>
            {% csrf_token %}
    
        
            {{form.as_p}}
            <p style="font-size: smaller;font-style: italic;">Check This reference for<a href='/harvest-days/' target='_blank'> <u> harvest days </u></a></p>
       <input type="submit" id='form-btn'>

        </form>

        </p>
     
    </div>



</section>

{% endblock %}