{% extends 'base.html' %}
{% load static %}


{% block title %} IMAGE {% endblock %}

{% block content %} 

<section class='letsStart bd-grid'>
    <div class='letsStart-container'>
        <h1> The Harvesting periods for the crops:</h1>
        <p style="padding-bottom: 1rem;font-size: smaller;"> <i><b> (For Each crop theres a minimum and maximum period)</b></i></p>
        <img src='/static/images/harvest1.jpg' width="90%"> <br>
    <img src='/static/images/harvest2.jpg' width="90%">
    </div>

</section>



{% endblock %}
